.colorBox {
  width: 30px;
  height: 30px;
  border: 1px solid #bbbbbb;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

[role="tooltip"] {
  display: none;
}

div:hover + [role="tooltip"],
div:focus + [role="tooltip"] {
  display: block;
}
