[role="tooltip"] {
  display: none;
  /* very arbitrary, needs a proper analysis */
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  position: relative;
  left: 63px;
  z-index: 1;
  right: -85px;
  top: -39px;
}

/* Find an scalable solution to this */
button:hover + [role="tooltip"],
div:hover + [role="tooltip"],
button:focus + [role="tooltip"],
div:focus + [role="tooltip"] {
  display: inline-block;
}
